html, body {
	background-color: #ebebeb;
	margin: 0;
	padding: 0;
}

.scoreboard {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&-admin {
		&-title {
			font-weight: bold;
			text-align: center;
		}
	}

	&-team {
		&-container {
			display: flex;
			margin: 10px;

			&.left {
				flex-direction: row;
			}

			&.right {
				flex-direction: row-reverse;
			}
		}
	}

	&-teams {
		display: flex;
	}

	&-title {
		font-weight: bold;
	}
}