html,
body {
  background-color: #ebebeb;
  margin: 0;
  padding: 0;
}
.scoreboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.scoreboard-admin-title {
  font-weight: bold;
  text-align: center;
}
.scoreboard-team-container {
  display: flex;
  margin: 10px;
}
.scoreboard-team-container.left {
  flex-direction: row;
}
.scoreboard-team-container.right {
  flex-direction: row-reverse;
}
.scoreboard-teams {
  display: flex;
}
.scoreboard-title {
  font-weight: bold;
}
