html,
body {
  background-color: #ebebeb;
  margin: 0;
  padding: 0;
}
.scoreboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.scoreboard-admin-title {
  font-weight: bold;
  text-align: center;
}
.scoreboard-team-container {
  display: flex;
  margin: 10px;
}
.scoreboard-team-container.left {
  flex-direction: row;
}
.scoreboard-team-container.right {
  flex-direction: row-reverse;
}
.scoreboard-team-logo {
  height: 100px;
}
.scoreboard-team-timeout-bubble {
  border-radius: 50%;
  border: 1px solid #000;
  height: 5px;
  margin: 3px;
  width: 5px;
}
.scoreboard-team-timeout-bubble.empty {
  background-color: #ebebeb;
}
.scoreboard-team-timeout-bubble.filled {
  background-color: #000;
}
.scoreboard-team-timeouts {
  align-items: center;
  display: flex;
}
.scoreboard-teams {
  display: flex;
}
.scoreboard-title {
  font-weight: bold;
}
